extends layout

block content
    div#page1(data-role='page')
        div(data-theme='a', data-role='header')
            h3 Pandorica Audio Control

        div(data-role='content')
            .ui-grid-a
                .ui-block-a
                    div(data-role='fieldcontain')
                        label(for='room-0') Family
                        select#room-0(data-role='slider')
                            option(value='off') Off
                            option(value='on') On
                    div(data-role='fieldcontain')
                        label(for='room-2') Dining
                        select#room-2(data-role='slider')
                            option(value='off') Off
                            option(value='on') On
                    div(data-role='fieldcontain')
                        label(for='room-4') Office
                        select#room-4(data-role='slider')
                            option(value='off') Off
                            option(value='on') On
                .ui-block-b
                    div(data-role='fieldcontain')
                        label(for='room-1') Living
                        select#room-1(data-role='slider')
                            option(value='off') Off
                            option(value='on') On
                    div(data-role='fieldcontain')
                        label(for='room-3') Bedroom
                        select#room-3(data-role='slider')
                            option(value='off') Off
                            option(value='on') On


            //-div(data-role='fieldcontain')
                fieldset(data-role='controlgroup', data-type='horizontal')
                    legend Onoff
                    label Family
                        input(type='checkbox')#room-0.custom/
                    label Living
                        input(type='checkbox')#room-1.custom/
                    label Dining
                        input(type='checkbox')#room-2.custom/
                    label Bedroom
                        input(type='checkbox')#room-3.custom/
                    label Office
                        input(type='checkbox')#room-4.custom/

        div(data-role='content').ir-control
            fieldset(data-role='controlgroup', data-type='horizontal')
                button(data-icon='x', data-ir='Cd') CD
                button(data-icon='x', data-ir='Tuner') AM/FM
                button(data-icon='x', data-ir='Aux') Aux

            fieldset(data-role='controlgroup', data-type='horizontal')
                button(data-icon='volume-down', data-ir='TunerVolDn') Vol Dn
                button(data-icon='volume-up', data-ir='TunerVolUp') Vol Up

            fieldset(data-role='controlgroup', data-type='horizontal')
                button(data-icon='prev', data-ir='CdPrev') CdPrev
                button(data-icon='next', data-ir='CdNext') CdNext

            fieldset(data-role='controlgroup', data-type='horizontal')
                button(data-icon='prev', data-ir='TunerPrev') TunerPrev
                button(data-icon='next', data-ir='TunerNext') TunerNext

            fieldset(data-role='controlgroup', data-type='horizontal')
                legend Cd
                button(data-ir='Cd1') 1
                button(data-ir='Cd2') 2
                button(data-ir='Cd3') 3
                button(data-ir='Cd4') 4
                button(data-ir='Cd5') 5
                button(data-ir='Cd6') 6
                button(data-ir='Cd7') 7
                button(data-ir='Cd8') 8
                button(data-ir='Cd9') 9
                button(data-ir='Cd0') 0
            fieldset(data-role='controlgroup', data-type='horizontal')
                legend Tuner
                button(data-ir='Tuner1') 1
                button(data-ir='Tuner2') 2
                button(data-ir='Tuner3') 3
                button(data-ir='Tuner4') 4
                button(data-ir='Tuner5') 5
                button(data-ir='Tuner6') 6
                button(data-ir='Tuner7') 7
                button(data-ir='Tuner8') 8
                button(data-ir='Tuner9') 9
                button(data-ir='Tuner0') 0

            button(data-icon='x', data-ir='Power') Power

        div(data-theme='a', data-role='footer')
            h3 Created by David Liu

    style
        a.ui-slider-handle-snapping { -webkit-transition: none; -moz-transition: none; }
        .ui-header .ui-title { margin: 0 1em; }

    script
        window.addEventListener("load", function() {
            setTimeout(function(){
                window.scrollTo(0, 1);
            }, 0);
        });

        function loadState(switchStates) {
            console.log(switchStates);
            $.each(switchStates, function(i, state) {
                $('#room-'+i).val(state ? 'on' : 'off').slider('refresh');
                $('#room-'+i).slider({value: state?'on':'off',
                animate: false});
            });
        }

        var SWITCHES_URL = '/switches';
        var IR_URL = '/ir';
        $(function() {
            loadState(#{switch_states});

            $('[id^=room-]').change(function() {
                var room = this.id.split('-')[1];
                var val = ($(this).val() == 'on') ? 1 : 0;
                console.log(room, val);

                $.post(SWITCHES_URL, {room: room, val: val},
                    function(data) {
                        loadState(data.switchStates);
                    }, 'json');
            });

            $('.ir-control button').click(function() {
              var ir = $(this).data('ir');
              console.log(ir);

              $.post(IR_URL, {ir: ir});
            });
        });
