!!! 5
html
    head
        title Pandorica Control
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, user-scalable=no')
        meta(name='apple-mobile-web-app-capable', content='yes')
        meta(name='apple-mobile-web-app-status-bar-style', content='black')
        link(rel='stylesheet', href='/static/jquery.mobile-1.4.0.min.css')
        //-link(rel='stylesheet', href='/static/jquery.mobile.structure-1.4.0.min.css')
        //-link(rel='stylesheet', href='/static/jquery.mobile.theme-1.4.0.min.css')
        script(src='/static/jquery-1.10.2.min.js')
        script(src='/static/jquery.mobile-1.4.0.min.js')

    body
        div(data-theme='b', data-role='header').reload-button
            h3 Pandorica Control
                button(data-icon='refresh', data-iconpos='notext')/

        div(data-role='content').my-grid
            .switch-block
                h3 Room Select
                .switch
                    label(for='room-0') Family
                    select#room-0(data-role='slider')
                        option(value='off') Off
                        option(value='on') On
                .switch
                    label(for='room-1') Living
                    select#room-1(data-role='slider')
                        option(value='off') Off
                        option(value='on') On
                .switch
                    label(for='room-2') Dining
                    select#room-2(data-role='slider')
                        option(value='off') Off
                        option(value='on') On
                .switch
                    label(for='room-3') Bedroom
                    select#room-3(data-role='slider')
                        option(value='off') Off
                        option(value='on') On
                .switch
                    label(for='room-4') Office
                    select#room-4(data-role='slider')
                        option(value='off') Off
                        option(value='on') On
            .ir-control-block
                h3 Hi-Fi Control
                div
                    fieldset.inline(data-role='controlgroup', data-type='horizontal', data-mini='true')
                        input(type='radio', name='source')#source-Cd
                        label(for='source-Cd') CD
                        input(type='radio', name='source')#source-Tuner
                        label(for='source-Tuner') AM/FM
                        input(type='radio', name='source')#source-Usb
                        label(for='source-Usb') USB
                        input(type='radio', name='source')#source-AirPlay
                        label(for='source-AirPlay') AirPlay
                        //input(type='radio', name='source')#source-Pandora
                        //label(for='source-Pandora') Pandora
                    fieldset.inline(data-role='controlgroup', data-type='horizontal', data-mini='true')
                        button(data-icon='delete', data-ir='PhilipsHiFi Power') On/Off

                div
                    fieldset.inline(data-role='controlgroup', data-type='horizontal', data-mini='true')
                        button(data-icon='minus', data-ir='PhilipsHiFi VolDn') Vol
                        button(data-icon='plus', data-ir='PhilipsHiFi VolUp') Vol

                    fieldset.inline.hide.cd-control(data-role='controlgroup', data-type='horizontal', data-mini='true')
                        button(data-icon='arrow-l', data-ir='PhilipsHiFi CdPrev') Prev
                        button(data-icon='arrow-r', data-ir='PhilipsHiFi CdNext') Next
                    fieldset.inline.hide.cd-control(data-role='controlgroup', data-type='horizontal', data-mini='true')
                        button(data-icon='bars', data-ir='PhilipsHiFi CdShuffle') Shuffle
                        button(data-icon='recycle', data-ir='PhilipsHiFi CdRepeat') Repeat

                    fieldset.inline.hide.tuner-control(data-role='controlgroup', data-type='horizontal', data-mini='true')
                        button(data-icon='arrow-l', data-ir='PhilipsHiFi TunerPrev') Prev
                        button(data-icon='arrow-r', data-ir='PhilipsHiFi TunerNext') Next

                    fieldset.inline.hide.usb-control(data-role='controlgroup', data-type='horizontal', data-mini='true')
                        button(data-icon='arrow-l', data-ir='PhilipsHiFiUsb UsbPrev') Prev
                        button(data-icon='arrow-r', data-ir='PhilipsHiFiUsb UsbNext') Next
                    fieldset.inline.hide.usb-control(data-role='controlgroup', data-type='horizontal', data-mini='true')
                        button(data-icon='bars', data-ir='PhilipsHiFiUsb UsbShuffle') Shuffle
                        button(data-icon='recycle', data-ir='PhilipsHiFiUsb UsbRepeat') Repeat

                fieldset.hide.cd-control(data-role='controlgroup', data-type='horizontal', data-mini='true')
                    legend CD Track
                    button(data-ir='PhilipsHiFi Cd1') 01
                    button(data-ir='PhilipsHiFi Cd2') 02
                    button(data-ir='PhilipsHiFi Cd3') 03
                    button(data-ir='PhilipsHiFi Cd4') 04
                    button(data-ir='PhilipsHiFi Cd5') 05
                    button(data-ir='PhilipsHiFi Cd6') 06
                    button(data-ir='PhilipsHiFi Cd7') 07
                    button(data-ir='PhilipsHiFi Cd8') 08
                    button(data-ir='PhilipsHiFi Cd9') 09
                    button(data-ir='PhilipsHiFi Cd0') 10
                    button(data-ir='PhilipsHiFi CdShift Cd1') 11
                    button(data-ir='PhilipsHiFi CdShift Cd2') 12
                    button(data-ir='PhilipsHiFi CdShift Cd3') 13
                    button(data-ir='PhilipsHiFi CdShift Cd4') 14
                    button(data-ir='PhilipsHiFi CdShift Cd5') 15
                    button(data-ir='PhilipsHiFi CdShift Cd6') 16
                    button(data-ir='PhilipsHiFi CdShift Cd7') 17
                    button(data-ir='PhilipsHiFi CdShift Cd8') 18
                    button(data-ir='PhilipsHiFi CdShift Cd9') 19
                    button(data-ir='PhilipsHiFi CdShift Cd0') 20

                fieldset.hide.tuner-control(data-role='controlgroup', data-type='horizontal', data-mini='true')
                    legend Tuner Preset
                    button(data-ir='PhilipsHiFi Tuner1') 01
                    button(data-ir='PhilipsHiFi Tuner2') 02
                    button(data-ir='PhilipsHiFi Tuner3') 03
                    button(data-ir='PhilipsHiFi Tuner4') 04
                    button(data-ir='PhilipsHiFi Tuner5') 05
                    button(data-ir='PhilipsHiFi Tuner6') 06
                    button(data-ir='PhilipsHiFi Tuner7') 07
                    button(data-ir='PhilipsHiFi Tuner8') 08
                    button(data-ir='PhilipsHiFi Tuner9') 09
                    button(data-ir='PhilipsHiFi Tuner0') 10
                    button(data-ir='PhilipsHiFi TunerShift Tuner1') 11
                    button(data-ir='PhilipsHiFi TunerShift Tuner2') 12
                    button(data-ir='PhilipsHiFi TunerShift Tuner3') 13
                    button(data-ir='PhilipsHiFi TunerShift Tuner4') 14
                    button(data-ir='PhilipsHiFi TunerShift Tuner5') 15
                    button(data-ir='PhilipsHiFi TunerShift Tuner6') 16
                    button(data-ir='PhilipsHiFi TunerShift Tuner7') 17
                    button(data-ir='PhilipsHiFi TunerShift Tuner8') 18
                    button(data-ir='PhilipsHiFi TunerShift Tuner9') 19
                    button(data-ir='PhilipsHiFi TunerShift Tuner0') 20

                fieldset.hide.usb-control(data-role='controlgroup', data-type='horizontal', data-mini='true')
                    legend USB Track
                    button(data-ir='PhilipsHiFiUsb Usb1') 01
                    button(data-ir='PhilipsHiFiUsb Usb2') 02
                    button(data-ir='PhilipsHiFiUsb Usb3') 03
                    button(data-ir='PhilipsHiFiUsb Usb4') 04
                    button(data-ir='PhilipsHiFiUsb Usb5') 05
                    button(data-ir='PhilipsHiFiUsb Usb6') 06
                    button(data-ir='PhilipsHiFiUsb Usb7') 07
                    button(data-ir='PhilipsHiFiUsb Usb8') 08
                    button(data-ir='PhilipsHiFiUsb Usb9') 09
                    button(data-ir='PhilipsHiFiUsb Usb0') 10
                    button(data-ir='PhilipsHiFiUsb UsbShift Usb1') 11
                    button(data-ir='PhilipsHiFiUsb UsbShift Usb2') 12
                    button(data-ir='PhilipsHiFiUsb UsbShift Usb3') 13
                    button(data-ir='PhilipsHiFiUsb UsbShift Usb4') 14
                    button(data-ir='PhilipsHiFiUsb UsbShift Usb5') 15
                    button(data-ir='PhilipsHiFiUsb UsbShift Usb6') 16
                    button(data-ir='PhilipsHiFiUsb UsbShift Usb7') 17
                    button(data-ir='PhilipsHiFiUsb UsbShift Usb8') 18
                    button(data-ir='PhilipsHiFiUsb UsbShift Usb9') 19
                    button(data-ir='PhilipsHiFiUsb UsbShift Usb0') 20


        div(data-role='footer')
            h3 Created by 
              a(href='http://iceboundflame.com') David Liu

        style
            * { -webkit-user-select: none; }

            a.ui-slider-handle-snapping { -webkit-transition: none; -moz-transition: none; }
            .ui-header .ui-title { margin: 0 1em; }

            .switch label {
                float: left;
                width: 5em;
                margin: .5em .5em 0 0;
            }
            .switch select {
                float: left;
                width: 5em;
            }
            .switch .ui-slider {
                margin: 0;
            }
            .switch :after {
                clear: both;
            }

            .my-grid {
                padding-top: 0;
            }
            .my-grid > div {
                float: left;
            }
            .my-grid .switch-block {
                width: 14em;
                margin-bottom: 2em;
            }
            .my-grid .ir-control-block {
                max-width: 25.5em;
            }
            .my-grid :after{
                clear: both;
            }

            .my-grid h3 {
                margin: 1em 0;
            }

            // @media all and (max-width: 10em) {
            //     .my-grid > div {
            //         float: none;
            //         width: 100% !important;
            //     }
            // }

            .inline {
                display: inline;
            }

        script
            var STATE_URL = '/state';
            var SOURCE_URL = '/source';
            var SWITCHES_URL = '/switches';
            var IR_URL = '/ir';

            function reloadState() {
                $.get(STATE_URL, loadState, 'json');
            }

            function loadState(state) {
                console.log(state);
                $.each(state.switches, function(i, state) {
                    $('#room-'+i).val(state ? 'on' : 'off').slider('refresh');
                    $('#room-'+i).slider({value: state?'on':'off',
                    animate: false});
                });

                updateSourceSelect(state.source);
            }

            function updateSourceSelect(source) {
                $('#source-' + source).prop('checked', true);
                $('input[type=radio]').checkboxradio('refresh');

                if (source == 'Cd')
                    $('.cd-control').show();
                else
                    $('.cd-control').hide();

                if (source == 'Tuner')
                    $('.tuner-control').show();
                else
                    $('.tuner-control').hide();

                if (source == 'Usb')
                    $('.usb-control').show();
                else
                    $('.usb-control').hide();
            }

            $(window).bind('pageshow', function(event) {
                console.log('pageshow');
                reloadState();
            });

            $(function() {
                loadState({{state}});

                $('[id^=room-]').change(function() {
                    var room = this.id.split('-')[1];
                    var val = ($(this).val() == 'on') ? 1 : 0;
                    console.log(room, val);

                    $.post(SWITCHES_URL, {room: room, val: val},
                        loadState, 'json');
                });

                $('.ir-control-block button').click(function() {
                    var ir = $(this).data('ir');
                    console.log('IrButton', ir);

                    $.post(IR_URL, {ir: ir}, loadState, 'json');
                });

                $('[id^=source-]').click(function() {
                    var source = this.id.split('-')[1];

                    console.log('SrcButton', source);
                    updateSourceSelect(source);
                    $.post(SOURCE_URL, {source: source}, loadState, 'json');
                });

                $('.reload-button').click(reloadState);
            });
